$primary__color: #1F9FFF;
$secondary__color: #23DEF5;

//Typography
$lato: 'Lato', sans-serif;

//Text Colors
$text-color: #3e3e3e;
$text-light: #777777;
$text-super-light: #8e8e8e;

//Layout Colors
$primary-color:#21ddc1;
$secondary-color:#3f3d56;

//Hover Colors
$primary-hover-color: #6ae9d6;

//Background Colors
$alternate-bg-color: #fcfcfc;

//Box-Shadow Styles
$primary-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.38);